<div class=" govuk-width-container">
    <div class="navigation-service">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{data['licence-type']}}</p>
                <p class="govuk-body-s  govuk-!-margin-bottom-2">Reference: PL-123456</p>
            </div>
            <!-- <div class="govuk-grid-column-one-third">
                <p class="govuk-body-s  govuk-!-margin-bottom-2 gc-text-right"><a
                        href="/app/v1/application/tasks">Application tasks</a></p>
            </div> -->
        </div>
    </div>
</div>