.navigation-service {
  border-bottom: 1px solid #bfc1c3;
  margin: 0;
  position: relative;
  font-size: 0;

  padding: 14px 0 5px 0;
}

.navigation-service-name {
  font-weight: 700;
  text-transform: none;
  font-size: 19px;
  line-height: 1.25;
  padding: 5px 0 11px 0;
  display: inline-block;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.navigation-service-switch {
  font-weight: 400;
  text-transform: none;
  font-size: 19px;
  line-height: 1.25;
  text-decoration: none;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px 0 11px 15px;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navigation-service-switch {
  .govuk-button {
    font-size: 16px;
    padding: 5px 6px 4px 6px;
  }
}

.govuk-fieldset__legend--l {
  margin-bottom: 30px !important;
}

.design-alert {
  padding: 15px;
  margin-bottom: 30px;
  background: #ffcc00;
  font-weight: 700;
  display: block;
}

.app-task-list__task-todo {

  margin-top: 10px;
  margin-bottom: 5px;
  background: #b1b4b6;
  color: #0b0c0c;
}

@media (min-width: 28.125em) {
  .app-task-list__task-todo {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}