{% extends "layout-authenticated.html" %}

{% block pageTitle %}

Are you adding an asset or a liability?
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
<div class=" govuk-width-container">
    <div class="navigation-service">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Personal X licence</p>
                <p class="govuk-body-s  govuk-!-margin-bottom-2">Reference: PXL-123456</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body-s  govuk-!-margin-bottom-2 gc-text-right"><a
                        href="/app/v1/application/tasks">Application tasks</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block beforeContent %}
<a href="/" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <form method="POST">

            <h1 class="govuk-heading-l">Tell us about the liability you are adding</h1>


            <div class="govuk-form-group">
                <label class="govuk-label" for="al-amount">
                    Value of the liability
                </label>
                <div id="alamount" class="govuk-visually-hidden">in pounds</div>
                <div class="gc-currency-input">
                    <div class="gc-currency-input__symbol" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-10" id="l-amount" name="l-amount" type="text"
                        aria-describedby="amount-currency">
                </div>
            </div>
            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="l-details">
                        Details
                    </label>

                    <textarea class="govuk-textarea govuk-js-character-count" id="l-details" name="l-details" rows="5"
                        aria-describedby="l-details-info l-details-hint"></textarea>
                </div>

                <span id="l-details-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                    You can enter up to 200 characters
                </span>
            </div>


            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>

{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}