{% extends "layout-authenticated.html" %}

{% block pageTitle %}
Tell us about any assets and liabilities you have which are {{allimit}}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
<div class=" govuk-width-container">
    <div class="navigation-service">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Personal X licence</p>
                <p class="govuk-body-s  govuk-!-margin-bottom-2">Reference: PXL-123456</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body-s  govuk-!-margin-bottom-2 gc-text-right"><a
                        href="/app/v1/application/tasks">Application tasks</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block beforeContent %}
<a href="/app/v1/application/assets-total" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Tell us about your assets up to a total value of
            £{{data['assets70Percent'] | numeral}}</h1>
        <p>We only need to know about 70% of your assets.</p>
        <form method="POST">



            {% if data['assetslist'].length > 0 %}

            <table class="govuk-table">
                <caption class="govuk-table__caption"><span class="govuk-visually-hidden">Assets</span></caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Value</th>
                        <th class="govuk-table__header" scope="col">Details</th>
                        <th class="govuk-table__header" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">

                    {%for i in data['assetslist'] %}

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">£{{i.amount | numeral("0,0")}}</td>
                        <td class="govuk-table__cell">{{i.details | truncate(30)}}</td>
                        <td class="govuk-table__cell"><a href="/app/v1/application/remove-asset/{{i.id}}">Remove <span
                                    class="govuk-visually-hidden">{{i.type}} for {{i.amount}}</span></a></td>
                    </tr>
                    {%endfor%}

                </tbody>
            </table>

      

            {% if data['assetsLeftToAdd']  <0 %}
            <p class="govuk-body">You don't need to add any more assets.
            </p> 
            {% else %}
            <p class="govuk-body govuk-!-font-weight-bold">You need to add more assets up to £{{data['assetsLeftToAdd'] | numeral}}.
            </p>  
            
            <p class="govuk-body govuk-!-margin-bottom-9"><a href="/app/v1/application/add-asset">Add more assets </a></p>

            {%endif%}
           

         

            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
            {% else %}

            <div class="govuk-inset-text">

                <p class="govuk-body">No assets have been added</p>

                
       
                <p class="govuk-body govuk-!-font-weight-bold">You need to add up to £{{data['assets70Percent'] | numeral}} worth of assets.
                </p>

   



                <a href="/app/v1/application/add-asset" class="govuk-button">Add assets</a>

            </div>

            {% endif%}







        </form>
    </div>
</div>

{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}