{% extends "layout-authenticated.html" %}

{% block pageTitle %}
What is your date of birth?
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% include "includes/_appHeader.html" %}
{% endblock %}

{% block beforeContent %}
<a href="/" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        
       
           <form method="POST">
         
                <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                              What is your date of birth?
                            </h1>
                          </legend>
                          <span id="dob-hint" class="govuk-hint">
                            For example, 18 6 1981
                          </span>
                          <div class="govuk-date-input" id="dob">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dob-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" value="{{data['dob-day']}}" type="number" autocomplete="bday-day" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dob-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" value="{{data['dob-month']}}" type="number" autocomplete="bday-month" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dob-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" value="{{data['dob-year']}}" type="number" autocomplete="bday-year" pattern="[0-9]*">
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>

            <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                  </button>
        </form>
    </div>
</div>

{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}