{% extends "layout-authenticated.html" %}

{% block pageTitle %}
{{ doc.documentType}}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% include "includes/_appHeader.html" %}
{% endblock %}

{% block beforeContent %}
<a href="/" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">I can't provide the {{ doc.documentType | lower}} document</h1>

      
        <form method="POST">

          
            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="reasonfornodocument">
                       Tell us why you can't provide this document
                    </label>
                   
                    <textarea class="govuk-textarea govuk-js-character-count " id="reasonfornodocument" name="reasonfornodocument" rows="3"
                        aria-describedby="reasonfornodocument-info reasonfornodocument-hint"></textarea>
                </div>

                <span id="reasonfornodocument-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                    You can enter up to 500 characters
                </span>
            </div>

            <input type="hidden" name="id" value="{{doc.id}}">

            <button class="govuk-button" data-module="govuk-button" type="submit">
                Upload and continue
            </button>
        </form>


    </div>
</div>


{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}