{% extends "layout-authenticated.html" %}

{% block pageTitle %}
{{ doc.documentType}} upload
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% include "includes/_appHeader.html" %}
{% endblock %}

{% block beforeContent %}
<a href="/" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ doc.documentType}} upload</h1>

        <h2 class="govuk-heading-m">What you can upload</h2>
        <p class="govuk-body">You can upload a file, a scan or photo of this document.</p>
        <p class="govuk-body">The file must be:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>clear and easy to read</li>
            <li>be an image or document format, for example: jpg, docx or pdf</li>
            <li>less than 10mb in size</li>
        </ul>
        <form method="POST">

            <h2 class="govuk-heading-m">File upload</h2>
            <div class="govuk-form-group">
                <label class="govuk-label" for="file-upload-1">
                    Choose your file
                </label>
                <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
            </div>
            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="with-hint">
                        Comments (Optional)
                    </label>
                    <span id="with-hint-hint" class="govuk-hint">
                        You can provide some comments to support the file you are uploading
                    </span>
                    <textarea class="govuk-textarea govuk-js-character-count " id="with-hint" name="with-hint" rows="3"
                        aria-describedby="with-hint-info with-hint-hint"></textarea>
                </div>

                <span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                    You can enter up to 500 characters
                </span>
            </div>

            <input type="hidden" name="id" value="{{doc.id}}">

            <button class="govuk-button" data-module="govuk-button" type="submit">
                Upload and continue
            </button>
        </form>


    </div>
</div>


{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}