{% extends "layout-authenticated.html" %}

{% block pageTitle %}
Tell us about the details of this action or investigation
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
<div class=" govuk-width-container">
    <div class="navigation-service">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Personal X licence</p>
                <p class="govuk-body-s  govuk-!-margin-bottom-2">Reference: PXL-123456</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body-s  govuk-!-margin-bottom-2 gc-text-right"><a
                        href="/app/v1/application/tasks">Application
                        tasks</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block beforeContent %}
<a href="/" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check your answers before adding this to your application</h1>
        <form method="POST">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['financial-type']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/app/v1/application/financial-type">
                            Change<span class="govuk-visually-hidden"> type</span>
                        </a>
                    </dd>
                </div>
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of action
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% set date = (data['financial-month'] + '/' + data['financial-day'] + '/' + data['financial-year']) %}
                        {{date | date('DD MMMM YYYY')}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/app/v1/application/financial-date">
                            Change<span class="govuk-visually-hidden"> date of action</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Body
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['financial-name']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/app/v1/application/financial-body">
                            Change<span class="govuk-visually-hidden"> body</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Country
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{data['financial-country']}}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/app/v1/application/financial-country">
                                Change<span class="govuk-visually-hidden"> country</span>
                            </a>
                        </dd>
                    </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Completed
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['financial']}}
              
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/app/v1/application/financial-completed">
                            Change<span class="govuk-visually-hidden"> completed</span>
                        </a>
                    </dd>
                </div>
                {% if data['financial'] === 'Yes'%}
                <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            End date
                        </dt>
                        <dd class="govuk-summary-list__value">
                                {% set date = (data['financial-end-month'] + '/' + data['financial-end-day'] + '/' + data['financial-end-year']) %}
                        {{date | date('DD MMMM YYYY')}}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/app/v1/application/financial-completed">
                                Change<span class="govuk-visually-hidden"> end date</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}
                    {% if data['financial'] === 'No'%}
                    <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Payment plan
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['payment-plan']}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/app/v1/application/financial-completed">
                                    Change<span class="govuk-visually-hidden"> payment plan</span>
                                </a>
                            </dd>
                        </div>
                        {% endif %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Details
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data['financial-detail']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/app/v1/application/financial-details">
                            Change<span class="govuk-visually-hidden"> details</span>
                        </a>
                    </dd>
                </div>
            </dl>

            <button class="govuk-button" data-module="govuk-button" type="submit">
                Add and continue
            </button>
        </form>
    </div>
</div>

{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet
            paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the
            application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}