{% extends "layout-authenticated.html" %}

{% block pageTitle %}
Tell us about any past or ongoing gambling related investigations you are subject to
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
<div class=" govuk-width-container">
    <div class="navigation-service">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Personal X licence</p>
                <p class="govuk-body-s  govuk-!-margin-bottom-2">Reference: PXL-123456</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body-s  govuk-!-margin-bottom-2 gc-text-right"><a
                        href="/app/v1/application/tasks">Application
                        tasks</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block beforeContent %}
<a href="/" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Tell us about any past or ongoing gambling related investigations you are subject to
        </h1>

        <p class="govuk-body">This includes any current or previous investigation by any statutory, regulatory or
            governing body in respect of any gambling activity, gambling licence, permit or authorisation held in the
            last five years.</p>


        <p class="govuk-body">If you do not tell us about anything that may be relevant, this may prevent us from
            granting you a licence </p>


        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-heading-m">Investigations</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Date</th>
                    <th class="govuk-table__header" scope="col">Body</th>
                    <th class="govuk-table__header" scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">
                        {% set date = (data['investigation-month'] + '/' + data['investigation-day'] + '/' + data['investigation-year']) %}
                        {{date | date('DD MMMM YYYY')}}</th>
                    <td class="govuk-table__cell">{{data['body-name-gambling']}}</td>
                    <td class="govuk-table__cell"><a href="/app/v1/application/gamblinginvestigations-initial">Remove
                            <span class="govuk-visually-hidden"> {{data['Action']}}</span></a></td>
                </tr>
            </tbody>
        </table>


        <form method="POST">
            <p class="govuk-body  govuk-!-margin-top-7 govuk-!-margin-bottom-7"><a
                    href="/app/v1/application/gamblinginvestigations-ongoing">Add another investigation</a></p>

            <button class="govuk-button" data-module="govuk-button" type="submit">
                Save and continue
            </button>
        </form>
    </div>
</div>

{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}