{% extends "layout-authenticated.html" %}

{% block pageTitle %}
What identity documents do you have?
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
<div class=" govuk-width-container">
    <div class="navigation-service">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Personal X licence</p>
                <p class="govuk-body-s  govuk-!-margin-bottom-2">Reference: PXL-123456</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body-s  govuk-!-margin-bottom-2 gc-text-right"><a
                        href="/app/v1/application/tasks">Application tasks</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block beforeContent %}
<a href="/" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
       

        <form method="POST">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="dbsid-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        <h1 class="govuk-fieldset__heading">
                            What identity documents do you have?
                        </h1>

                    </legend>

                    <span id="dbsid-hint" class="govuk-hint">
                        Select all that apply.
                    </span>
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="dbsid-1" name="dbsid" type="checkbox"
                                value="iddrivers" {{checked('dbsid','iddrivers') }}>
                            <label class="govuk-label govuk-checkboxes__label" for="dbsid-1">
                                UK Driving licence
                            </label>
                        </div>

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="dbsid-3" name="dbsid" type="checkbox"
                                value="idni" {{checked('dbsid','idni') }}>
                            <label class="govuk-label govuk-checkboxes__label" for="dbsid-3">
                                UK National insurance number
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="dbsid-2" name="dbsid" type="checkbox"
                                value="idpassport" {{checked('dbsid','idpassport') }}>
                            <label class="govuk-label govuk-checkboxes__label" for="dbsid-2">
                                Passport
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div> 

         
                <button type="submit" class="govuk-button">
                    Save and continue
                </button>
           

        </form>
    </div>
</div>

{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}