{% extends "layout-authenticated.html" %}

{% block pageTitle %}
Tell us about any gambling licences you have or have previously held, or been refused
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
<div class=" govuk-width-container">
    <div class="navigation-service">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Personal X licence</p>
                <p class="govuk-body-s  govuk-!-margin-bottom-2">Reference: PXL-123456</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body-s  govuk-!-margin-bottom-2 gc-text-right"><a
                        href="/app/v1/application/tasks">Application
                        tasks</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block beforeContent %}
<a href="/" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Tell us about any gambling licences you have or have previously held, or been
            refused</h1>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-heading-m">Investigations</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Status</th>
                    <th class="govuk-table__header" scope="col">Type</th>
                    <th class="govuk-table__header" scope="col">Body</th>
                    <th class="govuk-table__header" scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">{{data['licence-status']}}</th>
                    <td class="govuk-table__cell">{{data['licence-type']}}</td>
                    <td class="govuk-table__cell">{{data['licensing-body']}}</td>
                    <td class="govuk-table__cell"><a href="/app/v1/application/licences">Remove
                            <span class="govuk-visually-hidden"> {{data['licence-type']}}</span></a></td>
                </tr>
            </tbody>
        </table>

        <p class="govuk-body govuk-!-margin-top-7 govuk-!-margin-bottom-7"><a
                href="/app/v1/application/licence-status">Add details of more licences</a></p>
        <form method="POST">
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Save and continue
            </button>
        </form>
    </div>
</div>

{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}