{% extends "layout-authenticated.html" %}

{% block pageTitle %}
Give us some additional information about this licence
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
<div class=" govuk-width-container">
    <div class="navigation-service">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Personal X licence</p>
                <p class="govuk-body-s  govuk-!-margin-bottom-2">Reference: PXL-123456</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body-s  govuk-!-margin-bottom-2 gc-text-right"><a
                        href="/app/v1/application/tasks">Application
                        tasks</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block beforeContent %}
<a href="/" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Question 7 of 7</span>



        <form method="POST">

            {% if data['licence-status'] === 'Currently held' or data['licence-status'] === 'Previously held' %}

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="licence-issued-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading">
                            When was the licence issued?
                        </h2>
                    </legend>
                    <span id="licence-issued-hint" class="govuk-hint">
                        For example, 12 11 2007
                    </span>
                    <div class="govuk-date-input" id="licence-issued">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="licence-issued-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                    id="licence-issued-day" name="licence-issued-day" type="number" pattern="[0-9]*">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="licence-issued-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                    id="licence-issued-month" name="licence-issued-month" type="number"
                                    pattern="[0-9]*">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="licence-issued-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                    id="licence-issued-year" name="licence-issued-year" type="number" pattern="[0-9]*">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            {% endif %}



            {% if data['licence-status'] === 'Previously held' %}

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="licence-ended-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            When did the licence end?
                        </h2>
                    </legend>
                    <span id="licence-ended-hint" class="govuk-hint">
                        For example, 12 11 2007
                    </span>
                    <div class="govuk-date-input" id="licence-ended">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="licence-ended-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                    id="licence-ended-day" name="licence-ended-day" type="number" pattern="[0-9]*">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="licence-ended-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                    id="licence-ended-month" name="licence-ended-month" type="number" pattern="[0-9]*">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="licence-ended-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                    id="licence-ended-year" name="licence-ended-year" type="number" pattern="[0-9]*">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="licence-reason">
                    Reason for no longer holding this licence
                </label>

                <textarea class="govuk-textarea" id="licence-reason" name="licence-reason" rows="5"
                    aria-describedby="licence-reason-hint"></textarea>
            </div>

            {% endif %}



            {% if data['licence-status'] === 'Refused' %}

            <h1 class="govuk-heading-l">Why was this licence refused?</h1>

            <div class="govuk-form-group">
                    <label class="govuk-label" for="licence-refusal">
                        Reason
                    </label>
    
                    <textarea class="govuk-textarea" id="licence-refusal" name="licence-refusal" rows="5"
                        aria-describedby="licence-refusal-hint"></textarea>
                </div>

            {% endif %}


            <button class="govuk-button" data-module="govuk-button" type="submit">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}