{% extends "layout-authenticated.html" %}

{% block pageTitle %}
What is your full name?
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% include "includes/_appHeader.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">What is your full name?</h1>
        <p class="govuk-body">Your name appears on your licence and also the public register of licence holders.</p>
        <form method="POST">
            <div class="govuk-form-group">
                <label class="govuk-label" for="applicant-first-name">
                    First name
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="applicant-first-name" name="applicant-first-name"
                    value="{{data['applicant-first-name']}}" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="applicant-middle-name">
                    Middle name(s)
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="applicant-middle-name" name="applicant-middle-name"
                    value="{{data['applicant-middle-name']}}" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="applicant-last-name">
                    Last name
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="applicant-last-name" name="applicant-last-name"
                    value="{{data['applicant-last-name']}}" type="text">
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>

{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}