{% extends "layout-authenticated.html" %}

{% block pageTitle %}
Start a new application
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block beforeContent %}
<a href="/" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
<form method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="prefor-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
               Who is this application for?
            </h1>
          </legend>
       
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="prefor" name="prefor" type="radio" value="You">
              <label class="govuk-label govuk-radios__label" for="prefor">
                You
              </label>
              <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                This application is for yourself
              </span>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="prefor-2" name="prefor" type="radio" value="Someone else">
              
              <label class="govuk-label govuk-radios__label" for="prefor-2">
               Someone else
              </label>
              <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                For example, you may be a solicitor or business completing the application on behalf of someone else.
              </span>
            </div>
          </div>
        </fieldset>
      </div>
      
       <button class="govuk-button" type="submit">Continue</a>
    </form>
    </div>
</div>

{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}