{% extends "layout-authenticated.html" %}

{% block pageTitle %}
Application progress
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <nav class="gc-vertical-nav">
          <ul class="gc-vertical-nav__section">
          
            <li class="gc-vertical-nav__section-item   gc-vertical-nav__section-item--current">
              <a class="gc-vertical-nav__link " href="#">Application progress</a>
            </li>
           
           
            <li class="gc-vertical-nav__section-item ">
              <a class="gc-vertical-nav__link " href="#">Print application</a>
            </li>
            <li class="gc-vertical-nav__section-item">
              <a class="gc-vertical-nav__link " href="#">Withdraw application</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">We need some information from you</h1>

        <p class="govuk-body">The following information is required to continue processing your application, we have
            stopped processing your application, until this information is provided.</p>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                We will reject this application if the information is not provided by
                20 March 2020.
            </strong>
        </div>


        <div class="gc-documents-list">

            <div class="gc-documents-list--group">
                <div class="gc-documents-list--row">
                    <div class="gc-documents-list--doc-name">Letter of good standing from overseas bank</div>
                    <div class="gc-documents-list--doc-action"><a href="/documents/v2/manage">Details</a></div>
                </div>
                <div class="gc-documents-list--doc-list">
                    <div class="gc-documents-list--doc-files">See details for what you need to do</div>
                </div>
            </div>


            <div class="gc-documents-list--group">
                <div class="gc-documents-list--row">
                    <div class="gc-documents-list--doc-name">We need some more details about one of your shareholders
                    </div>
                    <div class="gc-documents-list--doc-action"><a href="/documents/v2/manage">Details</a></div>
                </div>
                <div class="gc-documents-list--doc-list">
                    <div class="gc-documents-list--doc-files">See details for what you need to do</div>
                </div>
            </div>

        </div>

        <form>
            <p class="govuk-body">Once you have provided the additional details required, you can submit them so we can
                continue processing your application.</p>
            <a href="/app/v1/application/progress" class="govuk-button">Submit additional information</a>
        </form>

    </div>
</div>

{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}