{% extends "layout-authenticated.html" %}

{% block pageTitle %}
Tell us some details about the qualification
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
<div class=" govuk-width-container">
    <div class="navigation-service">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Personal X licence</p>
                <p class="govuk-body-s  govuk-!-margin-bottom-2">Reference: PXL-123456</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body-s  govuk-!-margin-bottom-2 gc-text-right"><a
                        href="/app/v1/application/tasks">Application
                        tasks</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block beforeContent %}
<a href="/" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Question 3 of 3</span>
        <h1 class="govuk-heading-l">Tell us some details about the qualification</h1>

        <form method="POST">

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="qualification-detail">
                        Details
                    </label>
                    <div id="qualification-detail-hint" class="govuk-hint">
                        Include the country it was awarded and any other relevant information about the qualification.
                    </div>
                    <textarea class="govuk-textarea govuk-js-character-count" id="qualification-detail"
                        name="qualification-detail" rows="5"
                        aria-describedby="qualification-detail-info qualification-detail-hint">{{data['qualification-detail']}}</textarea>
                </div>

                <div id="qualification-detail-info" class="govuk-hint govuk-character-count__message"
                    aria-live="polite">
                    You can enter up to 500 characters
                </div>

            </div>


            <button class="govuk-button" data-module="govuk-button" type="submit">
                Save and continue
            </button>

        </form>
    </div>
</div>

{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}