{% extends "layout-authenticated.html" %}

{% block pageTitle %}
What are you applying for?
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block beforeContent %}
<a href="/" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
<form method="post">
       
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What are you applying for?
                </h1> 
               
              </legend> <p class="govuk-body">If you are not sure what you need, you can <a href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Do-I-need-a-licence/Do-I-need-a-licence.aspx" target="_blank" rel="noopener noreferrer">find information about our licences</a> (opens in a new tab) on our website. </p>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="licence-type" name="licence-type" type="radio" value="Annex A">
                  <label class="govuk-label govuk-radios__label" for="licence-type">
                    Annex A
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="licence-type-2" name="licence-type" type="radio" value="Functional licence">
                  <label class="govuk-label govuk-radios__label" for="licence-type-2">
                    Functional licence
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="licence-type-3" name="licence-type" type="radio" value="Management licence">
                  <label class="govuk-label govuk-radios__label" for="licence-type-3">
                    Management licence
                  </label>
                </div>
               
            </fieldset>
          </div>

       <button type="submit" class="govuk-button">Continue</a>
</form>
    </div>
</div>

{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}