{% extends "layout-app-anon.html" %}

{% block pageTitle %}
Apply for a personal licence prototype
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Apply for a personal licence prototype</h1>
    <p class="govuk-body">This is a prototype, you can get to any page within the prototype using this page.</p>




    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Security
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-1">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Standard view</th>
                <th scope="col" class="govuk-table__header">Error view</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/security/signin">Sign in</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/security/forgot-password">Request password reset</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/security/reset-sent">Password reset sent</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/security/set-password">Set new password</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/security/create-account">Create an account</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/security/code">Enter code</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/security/failed-to-register">Failed to register</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/account/name-password">Name and password</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Hub and Notifications
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-2">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Standard view</th>
                <th scope="col" class="govuk-table__header">Error view</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/applicationhub/v2/hub-no-apps">No apps</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/applicationhub/v2/hub-with-apps">In progress apps</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/applicationhub/v2/hub-with-apps-submitted">Submitted apps</a>
                </td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/applicationhub/v2/nonotifications">No notifications</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/applicationhub/v2/notifications">Notifications</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/applicationhub/v2/notifications-b">Notifications (B)</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2a">
              Profile management
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2a" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-2a">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Standard view</th>
                <th scope="col" class="govuk-table__header">Error view</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/profile/">Profile summary</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Application pages
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-3">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Standard view</th>
                <th scope="col" class="govuk-table__header">Error view</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/application/name">Name</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/application/date-of-birth">Date of birth</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/application/place-of-birth">Place of birth</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/application/home-address">Where is your home address</a>
                </td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/application/postcode">Postcode search</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/application/address-results">Address search results</a>
                </td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/application/full-address">Supplementary home address
                    info</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/application/home-overseas">Overseas address</a></td>
                <td class="govuk-table__cell"></td>
              </tr>




              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/application/net-worth">Net worth</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/application/assets-liabilities">Assets and
                    liabilities</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/application/assets-liabilities">Add asset or
                    liability</a></td>
                <td class="govuk-table__cell"></td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/application/documents">Documents</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/application/documents-detail">Document detail</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/app/v1/application/documents-upload">Document upload</a></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Application progress
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-4">

        </div>
      </div>
    </div>


  </div>
</div>


{% endblock %}