{% extends "layout-app-anon.html" %}

{% block pageTitle %}
Apply for a personal licence prototype
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Apply for a personal licence prototype</h1>
    <p class="govuk-body">This is not a real service.</p>

    <table class="govuk-table">
      <caption class="govuk-table__caption">Version 1 Prototypes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Standard view</th>
          <th scope="col" class="govuk-table__header">Error view</th>
          <th scope="col" class="govuk-table__header">Info</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="/app/v1/security/signin">Sign in</a></td>
          <td class="govuk-table__cell"><a href="/app/v1/security/error-signin">Sign in</a></td>
          <td class="govuk-table__cell">Sign in page</td>
        </tr>
      </tbody>
    </table>


  </div>
</div>


{% endblock %}